liferay-service-example-portlet/target/
liferay-service-example-portlet/.settings/
liferay-service-example-portlet/.project
liferay-service-example-portlet-service/target/
liferay-service-example-portlet-service/.settings/
liferay-service-example-portlet-service/.project
.settings/
.project